@media (max-width: 1215px) {
	.latest img {
		max-width: 900px;
	}
}

@media (max-width: 970px) {
	.meta img {
		max-width: 450px;
	}
	.latest img {
		max-width: 800px;
	}
}
@media (max-width: 900px) {
	.meta img {
		max-width: 400px;
	}
	.latest img {
		max-width: 700px;
	}
}
@media (max-width: 856px) {
	.main img {
		max-width: 370px;
	}
	.meta img {
		max-width: 350px;
	}
	.meta-text {
		max-width: 400px;
		gap: 15px;
	}
}

@media (max-width: 803px) {
	.master {
		flex-direction: column;
		gap: 30px;
	}
	.blok-content {
		display: flex;
	}

	.blok-content {
		display: flex;
		gap: 50px;
	}
	.blok-ik h1 {
		display: none;
	}
}

@media (max-width: 775px) {
	#main {
		padding-block: 30px;
	}
	.main img {
		max-width: 320px;
	}
	.main-content {
		gap: 20px;
	}
	.meta img {
		max-width: 300px;
	}
	.meta-text {
		max-width: 370px;
	}

	.latest img {
		max-width: 600px;
	}
}
@media (max-width: 705px) {
	.meta img {
		max-width: 270px;
	}
}
@media (max-width: 687px) {
	.work .work-blok:nth-child(4) {
		display: none;
	}
	.work .work-blok:nth-child(5) {
		display: none;
	}
	.work .work-blok:nth-child(6) {
		display: none;
	}

	.work-blok {
		/* margin-inline: 20px; */
	}
	.work-blok {
		max-width: 400px;
	}
	.work-title h1 {
		max-width: 400px;
	}
	.work-title p {
		max-width: 400px;
	}

	.latest img {
		max-width: 550px;
	}
}
@media (max-width: 675px) {
	.main-content {
		gap: 15px;
	}
	.main img {
		max-width: 270px;
	}
}
.main-btn button {
	padding: 8px 21px;
}
.meta img {
	max-width: 240px;
}
@media (max-width: 650px) {
	.main img {
		max-width: 230px;
	}
	.latest img {
		max-width: 450px;
	}
}

@media (max-width: 610px) {
	.header nav {
		display: none;
	}
	.burger-menu {
		display: block;
	}
}
@media (max-width: 583px) {
	.main {
		flex-direction: column-reverse;
		gap: 30px;
		align-items: center;
	}
	.blok-content {
		flex-direction: column;
	}
	.blokk-1 {
		display: flex;
		gap: 40px;
	}
	.main img {
		max-width: 410px;
	}
	.main-content {
		max-width: 410px;
		gap: 20px;
	}
	.work-title h1 {
		max-width: 410px;
	}

	.work-blok {
		max-width: 410px;
		width: 100%;
	}
	.work-blok img {
		width: 100%;
	}
	.latest img {
		max-width: 400px;
	}

	.meta {
		flex-direction: column;
		gap: 30px;
	}
	.meta img {
		max-width: 410px;
	}
	.meta-text {
		max-width: 410px;
	}

	.main-rating {
		max-width: 80%;
	}
}
@media (max-width: 480px) {
	.latest img {
		max-width: 320px;
	}
}

@media (max-width: 424px) {
	.main img {
		max-width: 350px;
	}

	.latest img {
		max-width: 290px;
	}
}
@media (max-width: 390px) {
	.main img {
		max-width: 280px;
	}
	.work-title {
		text-align: start;
	}
	#work .container {
		padding-inline: 40px;
	}
}
@media (max-width: 362px) {
	.main img {
		max-width: 240px;
	}
	.latest img {
		max-width: 250px;
	}
	.latest-title {
		padding-block: 20px;
	}
	.latest-title h1 {
		font-size: 20px;
	}
	.latest-title p {
		text-align: start;
		padding-top: 10px;
	}
}

@media (max-width: 362px) {
	.latest img {
		max-width: 237px;
	}
}
